

@import "vars";

html {
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: $black;

	&.no-scroll {
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* BLOKS */
@import "slick.scss";
@import "blocks/bars.scss";
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/user.scss";
@import "blocks/nav.scss";
@import "blocks/intro.scss";
@import "blocks/social.scss";
@import "blocks/btn.scss";
@import "blocks/works.scss";
@import "blocks/portfolio.scss";
@import "blocks/about.scss";
@import "blocks/reviews.scss";
@import "blocks/news.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";
@import "blocks/modal-work.scss";
@import "blocks/modal__statistics.scss";
@import "blocks/modal__contact.scss";
@import "blocks/soon.scss";

/* Helper */
@import "blocks/helper.scss";