

.news {
	margin-top: 25rem;
	padding-bottom: 12.5rem;

	@media screen and (max-width: 1023px) {
		margin-top: 17rem;
		padding-bottom: 4rem;
	}
}

.news__header {
	text-align: center;
}

.news__title {
	text-transform: uppercase;
	font-size: 45px;
	font-weight: bold;
	color: $black;
	margin-bottom: 10px;
}

.news__text {
	font-size: 18px;
	font-weight: 300;
	color: #717072;
	margin-bottom: 6rem;

	@media screen and (max-width: 1023px) {
		margin-bottom: 3rem;
	}
}

.articles {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.5rem;
}

.articles__col {
	width: 33.3333%;
	padding: 0 1.5rem;

	@media screen and (max-width: 1023px) {
		padding-bottom: 1rem;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

.articles__item {
	margin-bottom: 3rem;
	.btn {
		font-weight: bold;
	}

	@media screen and (max-width: 1023px) {
		margin-bottom: 2rem;
	}
}

.articles_header {
	position: relative;
	margin-bottom: 2rem;
	@media screen and (max-width: 767px) {
		margin-left: 14px;
	}

	@media screen and (max-width: 424px) {
		margin-left: 0;
	}
}

.articles__date {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 77px;
	height: 77px;
	line-height: 2.1rem;

	background-color: $black;
	text-align: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: $white;
	font-size: 1.6rem;
}

.articles__photo {
	display: block;
	max-width: 100%;
	height: auto;
	transition: box-shadow .2s linear, border-radius .2s linear;

	&:hover {
		box-shadow:0 0 10px $black;
		border-radius: 3%;
	}
}

.articles__title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: $black;
	margin-bottom: 5px;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.articles__cat {
	font-size: 12px;
	color: $black;
}

.articles__text {
	font-size: 12px;
	line-height: 2.4rem;
	font-weight: 300;
	color: #717072;
	margin-bottom: 40px;

	@media screen and (max-width: 1023px) {
		margin-bottom: 2rem;
	}

	@media screen and (max-width: 767px) {
			font-size: 1rem;
			line-height: 18px;
		}
}

.news__footer {
	text-align: right;
}

.news__link {
	font-size: 1.4rem;
	color: $gray;

	&:hover {
		text-decoration: none;
	}
}