

.works {
	margin: 41px 0;
	@media screen and (max-width: 1023px) {
		margin: 20px 0;
	}
}

.works__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	@media screen and (max-width: 1023px) {
		margin-bottom: 1rem;
	}
}

.works__nav-link {
	margin: 0 2rem;
	font-size: 12px;
	color: $black;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}